# ---- CONFIGURACIÓN DE MONGO ATLAS ----
MONGO_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/nombre_base_de_datos

# ---- CONFIGURACIÓN DE MINIO (Local) ----
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password

# Usamos las mismas credenciales para que la API tenga permisos totales en local
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password

# Para elegir entre el uso de CPU o GPU, descomenta la línea correspondiente y comenta la otra
COMPOSE_PROFILES=cpu # COMPOSE_PROFILES=gpu-nvidia -> para utilizar GPU con NVIDIA