# Entornos virtuales de Python
.venv/
venv/
__pycache__/

# Variables de entorno y secretos
.env

# Modelo Alzheimer (muy pesado)
.pt

# Datos de MinIO (Imágenes pesadas)
minio_data/

# Archivos del sistema
.DS_Store

*:Zone.Identifier

# Linter
.ruff_cache/
